{% extends "graphi_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Configure the album{% endblock %}

{% block form_heading %}Configure the album{% endblock %}

{% block form %}
<form action="" method="post">{% csrf_token %}
  <div class="progress">
    <div class="bar" style="width:{{ progress }}">&nbsp;</div>
    <div class="percent">{{ progress }}</div>
    &nbsp;
  </div>
 <hr>
<table>
  {{ wizard.management_form }}
  {% if wizard.form.forms %}
     {{ wizard.form.management_form }}
     {% for form in wizard.form.forms %}
        {% crispy form %}
     {% endfor %}
  {% else %}
    {% crispy wizard.form %}
  {% endif %}
</table>
<h2 align=right>Price: {{ price }}</h2>
<hr>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-primary btn-warning" type="submit" value="{{ wizard.steps.prev }}">Prev</button>
{% else %}
<button name="wizard_goto_step" class="btn btn-primary btn-warning" type="submit" disabled value="{{ wizard.steps.prev }}">Prev</button>
{% endif %}
{% if wizard.steps.next %}
<button class="btn btn-primary btn-warning" style="float: right;"
        type="submit" value="submit">Next</button>
{% else %}
<button class="btn btn-primary btn-warning" style="float: right;" disabled
        type="submit" value="submit">Next</button>
{% endif %}
</form>
{% endblock form %}

