{% extends "auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Register{% endblock %}

{% block form_heading %}Registration{% endblock %}

{% block form %}
  {% crispy form %}

{% if not user.is_authenticated %}
  <div class="form-message">
    <p>
      Already signed up? <a href="{% url 'register' %}">Log in</a>.
    </p>
  </div>
  {% else %}
  <div class="form-message">
    <p>
      Change password? <a href="{% url 'password-change' %}">Click here</a>.
    </p>
  </div>  
  {% endif %}
{% endblock form %}

