{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'register' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Created by photographers. Made for photographers.</p>
          {% if not user.is_authenticated %}
	  <a class="btn btn-primary" href="{% url 'register' %}"
	     role="button">Sign up for Free!</a>
      {% endif %}
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Product</h2>
      <p>This product designed to help photographers to choose and
      price right album for the client. We believe in full
      transparency and those tools are placed to help client and the
      photographer configure perfect bundle of photography products
      without deviating from the client's budget. The mordern
      photography world is the world of endless customisations and
      unlimitted products. The tools in this website are placed to
      utilize the best of everything available in the easy way. </p>
      <!--p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p-->
    </div>
    <div class="col-lg-4">
      <h2>Providers</h2>
      <p>We will support multiple providers with their range of
      different albums and price lists. The price lists are updated
      periodically to reflect up-to-date pricess as much as
      possible. However, as this project and this website are not
      official provider tool, the prices might not be updated
      immediately. We are doing our best to keep the service
      up-to-date, but this is full responsability of the photographer
      to cross check the prices with the album and service provider. </p>
      <!--p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p-->
    </div>
    <div class="col-lg-4">
      <h2>Want to work with us</h2>
      <p>We are fully cusomisable platform and if you are seeking to
      publish your price lists, we are here for you to help. Your
      services can be visible only to your clients and you enjoy
      hassle free online pricing capabilities. Contact us for any
      enquiries you might have.</p>
      <!--p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p-->
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

